<footer class ="topnav">
    <div class = "copyright">
        Hope you have enjoyed the articles.
        Articles reference from <a href="https://www.bleedingcool.com/comics/" target="_blank">BleedingCool</a>
    </div>

</footer>