<nav class="topnav">
    <form class="form-inline">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home Page</a>
        <a href="/scrape" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Scrape The Comic Reviews</a>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Saved Articles</a>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log Notes</a>
    </form>
</nav>