<div class="card mb-3">
    <div class="card-body">
        {{#each}}
        <h5> {{this.title}} </h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="button" id="btn">Read more</small></p>
        {{/each}}
    </div>
</div>